@using NixTrenProperty.ViewModels
@model SortAndFilterViewModel

@{    
    Layout = "_Layout";
}
<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }
</style>
<h1>List Adverts</h1>

<form method="get">
    <div class="form-inline">
        <label>Type object</label>
        <select name="typeObject" asp-items="Model.FilterViewModel.TypeObjects" class="form-control"></select>
        <label>Rent or Seal</label>
        <input name="RentOrSeal" type="checkbox" value="@Model.FilterViewModel.SelectedRentOrSeal" class="form-control" />
        @Html.CheckBox("Rent Or Seal", true)
        <label>City: </label>
        <input name="city" value="@Model.FilterViewModel.SelectedCity" class="form-control" />
        <input type="submit" value="Filtr" class="btn btn-outline-dark" />
    </div>
</form>

<table class="table">
    <tr>
        <th>
            <a asp-action="SortAndFilter"
               asp-route-sortOrder="@(Model.SortViewModel.PriceSort)"
               asp-route-typeObject="@(Model.FilterViewModel.SelectedObject)"
               asp-route-RentOrSeal="@(Model.FilterViewModel.SelectedRentOrSeal)"
               asp-route-city="@(Model.FilterViewModel.SelectedCity)">Price</a>

        </th>
        <th>
            <a asp-action="SortAndFilter"
               asp-route-sortOrder="@(Model.SortViewModel.DateSort)"
               asp-route-typeObject="@(Model.FilterViewModel.SelectedObject)"
               asp-route-RentOrSeal="@(Model.FilterViewModel.SelectedRentOrSeal)"
               asp-route-city="@(Model.FilterViewModel.SelectedCity)">Date of actual</a>
        </th>
        @*<th>
                <a asp-action="SortAndFilter"
                   asp-route-sortOrder="@(Model.SortViewModel.CompanySort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Компания</a>
            </th>*@
    </tr>
    @if (Model.Adverts != null)
        @foreach (var u in Model.Adverts)
        {
            <tr><td>@u.Price</td><td>@u.Date</td><td><form  asp-action="AdvertView" asp-controller="Home" asp-for="id" asp-route-id="@u.Id.ToString()"><button class="w-25 btn-primary btn-lg" type="submit">Details</button></form></td></tr>
        }
        else
        {
            <p><h1>No adverts yet </h1></p>
}
</table>
@*@if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-name="@(Model.FilterViewModel.SelectedName)"
           asp-route-company="@(Model.FilterViewModel.SelectedCompany)"
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="btn  btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-name="@(Model.FilterViewModel.SelectedName)"
           asp-route-company="@(Model.FilterViewModel.SelectedCompany)"
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="btn btn-outline-dark">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }*@